<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
    <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="asta4d.Asta4dProjectPropertyPage"
            class="com.astamuse.asta4d.ide.eclipse.property.Asta4dProjectPropertyPage"
            name="Asta4d"
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true">
      </page>
   </extension>
  
  <!--
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.wst.html.core.htmlsource"
            file-extensions="html"
            id="asta4d.template"
            name="asta4d template editor"
            priority="high">
         <describer
               class="com.astamuse.asta4d.ide.eclipse.contenttype.ContentDescriberForAsta4d">
         </describer>
      </content-type>
   </extension>
   -->
   
    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
       <hyperlinkDetector
             class="com.astamuse.asta4d.ide.eclipse.hyperlink.Asta4dHyperLinkDetector"
             id="asta4d.hyperlink"
             name="asta4d hyper link detector"
             targetId="org.eclipse.wst.html.core.htmlsource">
       </hyperlinkDetector>
    </extension>
    
    <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="com.astamuse.asta4d.ide.eclipse.hover.Asta4dTextViewerConfiguration"
            target="org.eclipse.wst.html.core.htmlsource.source" />
        <documentationTextHover
            class="com.astamuse.asta4d.ide.eclipse.hover.Asta4dHyperLinkHover"
            target="org.eclipse.wst.html.HTML_DEFAULT">
        </documentationTextHover>
    </extension>
    
    <!--
    <extension
         point="org.eclipse.jdt.ui.queryParticipants">
      <queryParticipant
            class="com.astamuse.asta4d.ide.eclipse.search.backup.Asta4dQueryParticipant"
            id="asta4d.search.queryParticipant"
            name="Asta4d Query Participant"
            nature="org.eclipse.jdt.core.javanature">
    </queryParticipant>
   </extension>
   -->
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="asta4d.contribution">
         <menu
               label="Asta4D"
               path="additions"
               id="asta4d.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Snippet In Templates..."
               class="com.astamuse.asta4d.ide.eclipse.action.Asta4dSearchAction"
               menubarPath="asta4d.menu1/group1"
               enablesFor="+"
               id="Asta4d.newAction">
         </action>
      </viewerContribution>
   </extension>

</plugin>
